@page
@inject IHttpContextAccessor _context;
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p>User Email: @_context.HttpContext.Session.GetString("User_Email")</p>
    <p>Student Id: @_context.HttpContext.Session.GetInt32("StudentId")</p>
</div>
<div>

